[submodule "_Deps/WDL"]
	path = _Deps/WDL
	url = https://github.com/turingcompl33t/wdl.git
[submodule "_Deps/CDL"]
	path = _Deps/CDL
	url = https://github.com/turingcompl33t/cdl.git
[submodule "_Deps/Catch2"]
	path = _Deps/Catch2
	url = https://github.com/turingcompl33t/catch2-release.git
